<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edm e.g.</title>
    <link rel="stylesheet" href="{{assets.style}}">
  </head>
  <body>

    <h1>EDM</h1>
    <h2>Examples</h2>
    <a href='index.html'>Back to index</a>

    <section id='example-one'>
      <header>
        <h3>Text inputs' values</h3>
      </header>

      <code lang="js">
        // Create the form model instance
        var form = edm('#example-one');

        // Get a list of serializers for the fields in the form
        var input = form.fields[0];

        // Observe changes
        input.onDidChange(function (event, serializer) {
          console.log("onDidChange callback called")
          console.log("Serializer:", this, this === serializer)
          console.log("Event:", event)
        });

        input.onDidStopChanging(function (event, serializer) {
          console.log("onDidStopChanging callback called")
          console.log("Serializer:", this, this === serializer)
          console.log("Event:", event)
        });
      </code>

      <article class="premise">
        <form>
          <input name='textinput' />
        </form>
        <output>
        </output>
      </article>
    </section>


    <script src='{{assets.main}}'></script>
    <script src='JSON.js'></script>
    <script src='examples.js'></script>

  </body>
</html>
