<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edm ref</title>
    <link rel='stylesheet' href="{{assets.style}}">
  </head>
<body>

<h1>EDM</h1>
<h2>Reference</h2>
<a href='index.html'>Back to index</a>

<h3>Global functions</h3>
<table>
  <thead>
    <tr>
      <th>fn</th>
      <th>args</th>
      <th>...</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>edm(selectorOrElement)</td>
      <td>selectorOrElement: Selector for a form element or an instance of HTMLFormElement</td>
      <td>Creates a new FormModel instance for the given form and returns the created instance</td>
    </tr>
  </tbody>
</table>

<h3>Classes</h3>

<article>
  <h4>FormModel</h4>

  <section class='member property'>
    <h5>FormModel.element</h5>
    <p>Get the form element of the FormModel</p>
    <p>The element has a reference to the FormModel instance in its `model` property</p>
  </section>

  <section class='member property'>
    <h5>FormModel.fieldNames</h5>
    <p>Get an array containing related input elements' name attributes' values</p>
  </section>

  <section class='member property'>
    <h5>FormModel.fields</h5>
    <p>Get an array containing serializers for the related input elements
      (fields are also accessible via form's properties, e.g. an input with name 'textinput'
      may be accessed by calling FormModel.textinput)</p>
  </section>

  <section class='member method'>
    <h5>FormModel.serialize()</h5>
    <p>Get the form's data as an object with input names as its keys</p>

    <h6>Aliases</h6>
    <code>FormModel.values</code>
    <code>FormModel.serializedData</code>
  </section>

</article>

<article>
  <h4>BaseSerializer</h4>
  <p>All serializers subclass the BaseSerializer class</p>
  <p>Every serializer class implements at least the methods & properties
    that are listed below</p>

  <section class='member property'>
    <h5>Serializer.element</h5>
    <p>Get the related input element</p>
  </section>

  <section class='member property'>
    <h5>Serializer.value</h5>
    <p>Get the value of the related input element</p>
  </section>

  <section class='member setter'>
    <h5>Serializer.value = ''</h5>
    <p>Set the value of the related input element</p>
  </section>

  <section class='member property'>
    <h5>Serializer.tagName</h5>
    <p>Get the input element's tag name</p>
  </section>

</article>

<article>
  <h4>TextInputSerializer & TextareaSerializer</h4>
  <p>Serializer for textual inputs</p>

  <section class='member method observer'>
    <h5>Serializer.onDidChange(callback)</h5>
    <p>Observe for changes in the field's value</p>
    <p>The given callback is called whenever the element's value changes</p>
  </section>

  <section class='member method observer'>
    <h5>Serializer.onDidStopChanging(callback)</h5>
    <p>Observe for changes in the field's value</p>
    <p>The given callback is called whenever the element's value stops changing</p>
  </section>

</article>

<article>
  <h4>SelectInputSerializer</h4>
  <p>Serializer for select inputs</p>

  <section class='member property'>
    <h5>Serializer.options</h5>
    <p>Returns a list of options available for the input</p>
  </section>

  <section class='member method observer'>
    <h5>Serializer.onDidChange(callback)</h5>
    <p>Observe for changes in the field's value</p>
    <p>The given callback is called whenever the selection changes</p>
  </section>

</article>

<article>
  <h4>CheckboxInputSerializer & RadioInputSerializer</h4>
  <p>Serializer for checkboxes & radio inputs</p>

  <section class='member property'>
    <h5>Serializer.options</h5>
    <p>Returns a list of options available for the input</p>
  </section>

  <section class='member method observer'>
    <h5>Serializer.onDidChange(callback)</h5>
    <p>Observe for changes in the field's value</p>
    <p>The given callback is called whenever the selection changes</p>
  </section>

</article>

</body>
</html>
