<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>T y p 3 p h 4 5 3</title>
    <link rel='stylesheet' href="{{url.style}}">
  </head>
<body>


<form data-assert='true'>

  <label class='field'>
    <h3>Name</h3>
    <input type='text' name='name' placeholder='Erkki Erkkine' />
  </label>

  <label class='field'>
    <h3>PhoonePhoone</h3>

    <input type='tel' name='phonenumber' placeholder='+358 100 100' />
  </label>

  <label class='field'>
    <h3>
      Tsek em
    </h3>
    <input type='checkbox' name='cehk' value='üks' />
    <input type='checkbox' name='cehk' value='kaks' />
    <input type='checkbox' name='cehk' value='kol' />
    <input type='checkbox' name='cehk' value='néljæ' />
  </label>

  <section class='field'>
    <label>
      <strong>Pillow</strong>
      <input type='checkbox' name='cehke' value='pillow' />
    </label>

    <label>
      <strong>Donut</strong>
      <input type='checkbox' name='cehke' value='donut' />
    </label>
  </section>

  <section class='field'>
    <label>
      <strong>Circle</strong>
      <input type='radio' name='radd' value='circle' />
    </label>

    <label>
      <strong>Mosh</strong>
      <input type='radio' name='radd' value='mosh' />
    </label>

    <label>
      <strong>Pit</strong>
      <input type='radio' name='radd' value='pitt' />
    </label>

    <label>
      <strong>Brad</strong>
      <input type='radio' name='badd' value='brad' />
    </label>

    <label>
      <strong>Pitty</strong>
      <input type='radio' name='badd' value='pitt' />
    </label>
  </section>

  <label class='field'>
    <h3>Svénskspråkiga männihur</h3>

    <select name='kikki'>
      <option>Åke</option>
      <option>Jansson</option>
      <option>Lisa</option>
      <option>Peetter</option>
      <option>Håkan</option>
    </select>
  </label>

  <label class='field'>
    <h3>Bättrefolk</h3>

    <select name='isammaa'>
      <option value='suomi-prkl'>Isäm maa!</option>
      <option value='ishoki'>Jää kiakko</option>
      <option value='values'>Rassismi & poppulissmi</option>
    </select>
  </label>

  <label class='field'>
    <h3>  ISÄM MAA "2"</h3>
    <select name='isammaa-två' multiple>
      <option value='suomi-prkl'>Isäm maa!</option>
      <option value='ishoki'>Jää kiakko</option>
      <option value='values'>Rassismi & poppulissmi</option>
    </select>
  </label>

  <button type="submit">Subb</button>

</form>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.4.4/babel.min.js"></script>-->
<script src='{{url.main}}'></script>


</body>
</html>
