body {
  font: 300 22px/1.675em Gotham, Helvetica Neue;
  color: #484848;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 2em;
}
h4 {
  margin: 0;
  padding: 0.5em 0 0;
}
code,
pre {
  display: block;
  white-space: pre-line;
  font-family: Anonymous Pro, Anonymous, Source Code Pro, Cutive Mono, monospace;
  line-height: 1.2em;
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: -0.025em;
}
.premise {
  display: flex;
}
.premise output {
  font-size: 0.5em;
  line-height: 1em;
}
.editor {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
}
.editor .toolbar {
  background: #e9e3f1;
}
strong {
  letter-spacing: -0.035em;
  font-weight: 300;
  color: #25ad90;
  text-shadow: 0 0px 16px rgba(0, 0, 0, 0.03);
}
input {
  margin: 0.1em 0.7em;
  padding: 0.6em 0.7em;
}
.field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0;
}
.field > * {
  display: inline-flex;
  align-items: center;
  padding-right: 1.2em;
}
.field input {
  flex: 1 1 auto;
  border-radius: 2em;
  border: 1px solid #f0f0f0;
  -webkit-appearance: none;
  transition: .3s all;
}
.field input:focus {
  outline: none;
  color: #808080;
  border-color: #808080;
}
.field select {
  -webkit-appearance: none;
  border: none;
  padding: 1.2em;
}
.field input[type='checkbox'] {
  border-radius: 4px;
}
.field input[type='checkbox']:checked {
  background-color: #303030;
}
.field input[type='checkbox'],
.field input[type='radio'] {
  border-color: initial;
  flex: none;
  width: 2em;
  height: 2em;
  color: #b0b0b0;
}
.field input[type='checkbox']:checked,
.field input[type='radio']:checked {
  color: #303030;
}
h3 {
  margin: 0;
  font-size: 1em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-weight: 100;
}
button {
  background: #e0e0e0;
  appearance: none;
  box-sizing: border-box;
  border: none;
  padding: 0.2em 1em;
  font-weight: 300;
  cursor: pointer;
  font: inherit;
  color: #2f2b34;
  background: #f0ebf6;
  transition: 300ms color, 300ms background-color, 300ms border-color, 300ms box-shadow;
}
button:active,
button:focus {
  color: #29252e;
  background: #9d98a2;
}
button:hover {
  color: #25212a;
  background: #5e5a64;
  transition-duration: 100ms;
}
button.selected {
  color: #2d2932;
  background: #d1ccd7;
}
button.selected:hover,
button:focus:hover,
button:active:hover {
  color: #201c25;
  background: #201c25;
  transition-duration: 100ms;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*# sourceMappingURL=style.css.map*/