
@color-text: #484848;

@color-toolbar-background: #e9e3f1;

@color-button-background: #f0ebf6;
@color-button-active-background: #201c25;
@color-button-text: #2f2b34;
@color-button-active-text: #201c25;

@checkbox: ~"input[type='checkbox']";
@radio: ~"input[type='radio']";

body {
  font: 300 22px/1.675em Gotham, Helvetica Neue;
  color: @color-text;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 2em;
}

h4 {
  margin: 0;
  padding: 0.5em 0 0;
}

code, pre {
  display:         block;
  white-space:     pre-line;
  font-family:     Anonymous Pro, Anonymous, Source Code Pro, Cutive Mono, monospace;
  line-height:     1.2em;
  font-weight:     600;
  font-size:       0.75em;
  letter-spacing: -0.025em;
}

.premise {
  display: flex;
  output {
    font-size: 0.5em;
    line-height: 1em;
  }
}

.editor {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;

  .toolbar {
    background: @color-toolbar-background;
  }

  .textarea {

  }
}

strong {
  letter-spacing: -0.035em;
  font-weight: 300;
  color: #25ad90;
  text-shadow: 0 0px 16px rgba(0,0,0,0.03) }

input {
  margin: 0.1em 0.7em;
  padding: 0.6em 0.7em }

.field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0;

  > * {
    display: inline-flex;
    align-items: center;
    padding-right: 1.2em }

  input {
    flex: 1 1 auto;
    border-radius: 2em;
    border: 1px solid #f0f0f0;
    -webkit-appearance: none;
    transition: .3s all;
  }
  input:focus {
    outline: none;
    color: #808080;
    border-color: #808080;
  }
  select {
    -webkit-appearance: none;
    border: none;
    padding: 1.2em;
  }

  @{checkbox} {
    border-radius: 4px;
    &:checked {
      background-color:  #303030;
    }
  }
  @{checkbox},
  @{radio} {
    border-color: initial;
    flex:     none;
    width:    2em;
    height:   2em;
    color:    #b0b0b0;
    &:checked {
      color:  #303030;
    }
  }
}


h3 {
  margin: 0;
  font-size: 1em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-weight: 100;
}
button {
  background: #e0e0e0;
  appearance: none;
  box-sizing: border-box;
  border: none;
  padding: 0.2em 1em;
  font-weight: 300;
  cursor: pointer;
  font: inherit;

  .interactions(@color-button-background, @color-button-text, @color-button-active-background, @color-button-active-text);
}


.interactions(@bg, @fg, @bg2, @fg2) {
  @dt: 300ms;
  color: @fg;
  background: @bg;
  transition: @dt color, @dt background-color, @dt border-color, @dt box-shadow;

  &:active,
  &:focus {
    color: mix(@fg, @fg2, 60%);
    background: mix(@bg, @bg2, 60%);
  }
  &:hover {
    color: mix(@fg, @fg2, 30%);
    background: mix(@bg, @bg2, 30%);
    transition-duration: 100ms;
  }
  &.selected {
    color: mix(@fg, @fg2, 85%);
    background: mix(@bg, @bg2, 85%);
  }
  &.selected:hover,
  &:focus:hover,
  &:active:hover {
    color: @fg2;
    background: @bg2;
    transition-duration: 100ms;
  }
}




input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }
